# Dependencies
node_modules/

# WXT
.wxt/
.output/
web-ext.config.ts
stats.html
stats-*.json

# Build
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.vscode/
.idea/
*.swp

# System
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local
